/* Fonts
font-family: 'IBM Plex Mono', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}

.container-fluid .heading p {
    font-size: 1.1em;
    font-weight: 900 !important;
}

.navbar .nav-link, .navbar .dropdown-item, 
.navbar .nav-link:hover
.navbar .dropdown-item:hover {
    font-weight: 600 !important;
}

.nav-item .active {
    font-weight: 600 !important;
}

.nav-item a {
    font-weight: 600 !important;
}